extends layout

block content
    .container-fluid
        .row
            .col-lg-5
            .col-lg-2
                h1(style='color: red;')=salesOrderDay
            .col-lg-5
        each salesOrder in salesOrderList
            .row
                .col-lg-2
                .col-lg-8
                    br
                    br
                    div(style='border: 1px dashed')
                        table
                            tr
                                td(style='border: 1px solid gray')="Order Date"
                                td(style='border: 1px solid gray')=salesOrder.date
                            tr
                                td(style='border: 1px solid gray')="Customer Name"
                                td(style='border: 1px solid gray')=salesOrder.customerName
                            tr
                                td(style='border: 1px solid gray')="Voucher Number"
                                td(style='border: 1px solid gray')=salesOrder.voucherNumber
                            tr
                                td(style='border: 1px solid gray')="Discount"
                                td(style='border: 1px solid gray')=salesOrder.discount
                            tr
                                td(style='border: 1px solid gray')="Total Amount"
                                td(style='border: 1px solid gray')=salesOrder.salesOrderTotal
                        br
                        br
                        table(class="table")
                            tr
                                th Item Name
                                th Unit Price
                                th Quantity
                                th Free Quantity
                                th Option
                            each product in salesOrder.productArray
                                tr
                                    td=product.itemName
                                    td=product.unitPrice
                                    td=product.quantity
                                    td=product.freeQuantity
                                    td=product.subTotal
                .col-lg-2
                    div(style="margin-top: 55px;")
                        a(href='/sales-order-delete/'+salesOrder.id style='color:red;') Delete this Sales Order

