extends layout

block content
    .container-fluid
        .row
            .col-lg-5
            .col-lg-2
                h1(style='color: red;')=salesOrderDay
            .col-lg-5
        each salesOrder in salesOrderList
            .row
                .col-lg-2
                .col-lg-8
                    br
                    br
                    div(style='border: 1px dashed')
                        table(class="table")
                            tr
                                td="Order Date"
                                td=salesOrder.date
                                td="Customer Name"
                                td=salesOrder.customerName
                                td="Voucher Number"
                                td=salesOrder.voucherNumber
                                td="Total Amount"
                                td=salesOrder.salesOrderTotal
                        br
                        br
                        table(class="table")
                            tr
                                th Item Name
                                th Unit Price
                                th Quantity
                                th Free Quantity
                                th Option
                            each product in salesOrder.productArray
                                tr
                                    td=product.itemName
                                    td=product.unitPrice
                                    td=product.quantity
                                    td=product.freeQuantity
                                    td=product.subTotal
                .col-lg-2
                    a(href='/sales-order-delete/'+salesOrder.id style='color:red;') Delete this Sales Order

